<head>
link rel="stylesheet" type="text/css" href="./signup.component.css">
</head>

<body>

<div id="login-box">
  <div class = "left">
      <h1>Sign up</h1>
        <form>
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="retypepass" placeholder="Retype password">
            <input type="submit" name="signup_submit" value = "SIGN ME UP">
        </form>
  </div>
   
  <div class = "right">
    <span class="loginwith">Sign in with<br />social network</span>
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
</div>
</body>